<html>

<body>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        </style>
    <table>
        <tr>
            <th>City Code</th>
            <th>Country Code</th>
            <th>City Name</th>
            <th>population</th>
            <th>isCoastal</th>
            <th>areaKM</th>
        </tr><% cities.forEach((cities)=>{%><tr>
            <td><%= cities.cty_code %></td>
            <td><%= cities.co_code %></td>
            <td><%= cities.cty_name %></td>
            <td><%= cities.population %></td>
            <td><%= cities.isCoastal %></td>
            <td><%= cities.areaKM %></td>
        </tr>
        <%})%>
    </table>
       <a href="http://localhost:3000/">Home</a>
      
</body>


</html>