<!-- Page which shows all cities in a table for user -->
<html>
    <body>
        <h1> Show Cities</h1>
        <style>
            table,th,  td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            </style>
            <table>
                <tr>
                    <th>City code </th>
                    <th>Country Code </th>
                    <th>City name </th>
                    <th>Population </th>
                    <th>is Coastal </th>
                    <th>Area in KM </th>
                </tr>
                <!--accessing data by calling cities from index.js and displaying its info-->
            <%cities.forEach((cities)=>{ %>
                <tr>
                    <td> <%= cities.cty_code %></td>
                    <td> <%= cities.co_code  %></td>
                    <td> <%= cities.cty_name %></td>
                    <td> <%= cities.population %></td>
                    <td> <%= cities.isCoastal %></td>
                    <td> <%= cities.areaKM %></td>
                    <td>
                        <!-- Button when clicked , brings user to city details page -->
                        <a href="/listCities/<%= cities.cty_code %>"> <button type="button">All Details</button></a>
                     </td>
                </tr>
                <%}) %>
            </table>
        </br>
        <!-- link back to the home page -->
            <a href="http://localhost:3000/">Home</a>
    </body>
</html>


